html {
    background-color: #000;
    color: #9cf;
    font-family: Arial, helvetica, sans-serif;
    text-align: center;
}

input {
    letter-spacing: 0.2rem;
    border: 1px solid #9cf;
    padding: 8px;
    border-radius: 4px;
    margin: 8px;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

dd {
    font-weight: bold;
    font-size: 140%;
    margin: 8px;
    text-align: center;
}
